<!--  Home page view-->
<!--  Provides our initial view asking user to sign up-->
<!--  Author: Adolfo Moreno-->
<html>

<head>
  <title>DocDoc Go</title>
  <!--  Load all of our libraries-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <!-- Show title and allow user to choose to login -->
  <div class="container">
    <div class="jumbotron text-center">
      <h1> <span class="fa fa-lock"></span>
          DocDoc Go
        </h1>
      <p> Login</p>
      
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    </div>
  </div>
</body>

</html>
